.paymentfailed {
  margin-top: 50px;
  width: 60%;
}
@media (max-width: 900px) {
  .paymentfailed {
    width: 100%;
  }
}
.otherPaymentOptions{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .otherPaymentOptions {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .otherPaymentOptions {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .otherPaymentOptions {
    font-size: 10px;
  }
}